<div className="EditMenuInfoComponent">
  <div className="menu-container">
    <h3 style={{color:"#337AB7"}}>Menú</h3>
    <form>
      <div class="form-group">
        <label for="soup" style={{color:"#32CD32"}}>Sopa</label>
        <input type="text" class="form-control" id="soup" value={{this.props.soup}}/>
      </div>
      <div class="form-group">
        <label for="appetizer">Principio</label>
        <input type="text" class="form-control" id="appetizer" value={{this.props.appetizer}}>
      </div>
      <div class="form-group">
        <label for="main_course">Principio</label>
        <input type="text" class="form-control" id="main_course" value={{this.props.main_course}}>
      </div>
      <div class="form-group">
        <label for="protein">Principio</label>
        <input type="text" class="form-control" id="protein" value={{this.props.protein}}>
      </div>
      <div class="form-group">
        <label for="juice">Principio</label>
        <input type="text" class="form-control" id="juice" value={{this.props.juice}}>
      </div>
      <div class="form-group">
        <label for="dessert">Principio</label>
        <input type="text" class="form-control" id="dessert" value={{this.props.dessert}}>
      </div>
      <div class="form-group">
        <label for="salad">Principio</label>
        <input type="text" class="form-control" id="salad" value={{this.props.salad}}>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
